In [20]:
list01 = []
list01

[]

In [19]:
list02 = [1, 2, 3]
list02

[1, 2, 3]

In [21]:
list03 = ['A', 'B', 'C', ]
list03

['A', 'B', 'C']

In [23]:
list04 = list()
list04

[]

In [24]:
list05 = list('ABC')
list05

['A', 'B', 'C']

In [25]:
list06 = list([1, 2, 3])
list06

[1, 2, 3]

In [26]:
list07 = list((1, 2, 3))
list07

[1, 2, 3]

In [27]:
list08 = list({1, 2, 3})
list08

[1, 2, 3]

In [28]:
list09 = list(range(7))
list09

[0, 1, 2, 3, 4, 5, 6]

In [29]:
list10 = list(range(3, 8))
list10

[3, 4, 5, 6, 7]

In [30]:
list11 = list(range(3, 13, 2))
list11

[3, 5, 7, 9, 11]

In [32]:
list12 = [None] * 5
list12

[None, None, None, None, None]

In [39]:
tuple01 = ()
tuple01

()

In [40]:
tuple02 = 1,
tuple02

(1,)

In [41]:
tuple03 = (1,)
tuple03

(1,)

In [42]:
tuple04 = 1,2,3
tuple04

(1, 2, 3)

In [43]:
tuple05 = 1, 2, 3,
tuple05

(1, 2, 3)

In [44]:
tuple06 = (1, 2, 3)
tuple06

(1, 2, 3)

In [45]:
tuple07 = (1, 2, 3,)
tuple07

(1, 2, 3)

In [46]:
tuple08 = 'A', 'B', 'C'
tuple08

('A', 'B', 'C')

In [48]:
v01 = 1
v01

1

In [49]:
v02 = (1)
v02

1

In [50]:
tuple09 = tuple()
tuple09

()

In [51]:
tuple10 = tuple('ABC')
tuple10

('A', 'B', 'C')

In [52]:
tuple11 = tuple([1, 2, 3])
tuple11

(1, 2, 3)

In [53]:
tuple12 = tuple({1, 2, 3})
tuple12

(1, 2, 3)

In [54]:
tuple13 = tuple(range(7))
tuple13

(0, 1, 2, 3, 4, 5, 6)

In [55]:
tuple14 = tuple(range(3, 8))
tuple14

(3, 4, 5, 6, 7)

In [56]:
tuple15 = tuple(range(3, 13, 2))
tuple15

(3, 5, 7, 9, 11)

In [57]:
s = [11, 22, 33, 44, 55, 66, 77]
s[-4:-2]

[44, 55]

In [58]:
s[-4:-1]

[44, 55, 66]

In [59]:
s[-4:-3]

[44]

In [60]:
s[-4:0]

[]

In [62]:
from typing import Any, Sequence

def max_of(a: Sequence) -> Any:
    maximum = a[0]
    for i in range(1, len(a)):
        if a[i] > maximum:
            maximum = a[i]
    return maximum

if __name__ == '__main__':
    print('배열의 최댓값을 구합니다.')
    num = int(input('원소 수를 입력하세요.: '))
    x = [None] * num
    
    for i in range(num):
        x[i] = int(input(f'x[{i}]값을 입력하세요.: '))
    
    print(f'최댓값은 {max_of(x)}입니다.')

배열의 최댓값을 구합니다.
원소 수를 입력하세요.: 5
x[0]값을 입력하세요.: 123
x[1]값을 입력하세요.: 4523
x[2]값을 입력하세요.: 23
x[3]값을 입력하세요.: 4
x[4]값을 입력하세요.: 7
최댓값은 4523입니다.

In [63]:
import random

print('난수의 최댓값을 구합니다')
num = int(input('난수의 개수를 입력하세요.: '))
lo = int(input('난수의 최솟값을 입력하세요.: '))
hi = int(input('난수의 최댓값을 입력하세요.: '))
x = [None] * num

for i in range(num):
    x[i] = random.randint(lo, hi)
    
print(f'{(x)}')
print(f'이 가운데 최댓값은 {max_of(x)}입니다.')

난수의 최댓값을 구합니다
난수의 개수를 입력하세요.: 3
난수의 최솟값을 입력하세요.: 1000
난수의 최댓값을 입력하세요.: 1005
[1004, 1004, 1001]
이 가운데 최댓값은 1004입니다.

In [64]:
x = ['John', 'George', 'Paul', 'Ringo']

for i in range(len(x)):
    print(f'x[{i}] = {x[i]}')

x[0] = John
x[1] = George
x[2] = Paul
x[3] = Ringo

In [65]:
for i, name in enumerate(x):
    print(f'x[{i}] = {name}')

x[0] = John
x[1] = George
x[2] = Paul
x[3] = Ringo

In [66]:
for i, name in enumerate(x, 1):
    print(f'{i}번째 = {name}')

1번째 = John
2번째 = George
3번째 = Paul
4번째 = Ringo

In [67]:
for i in x:
    print(i)

John
George
Paul
Ringo

In [69]:
y = reversed(x)

In [72]:
for i, name in enumerate(y):
    print(f'y[{i}] = {name}')

y[0] = Ringo
y[1] = Paul
y[2] = George
y[3] = John

In [84]:
z = x[::-1]

In [85]:
for i, name in enumerate(z):
    print(f'z[{i}] = {name}')

z[0] = Ringo
z[1] = Paul
z[2] = George
z[3] = John

In [88]:
from typing import Any, MutableSequence

def reverse_array(a: MutableSequence) -> None:
    
    n = len(a)
    for i in range(n // 2):
        a[i], a[n - i - 1] = a[n - i - 1], a[i]
        
if __name__ == '__main__':
    print('배열 원소를 역순으로 정렬합니다.')
    nx = int(input('원소 수를 입력하세요.: '))
    x = [None] * nx
    
    for i in range(nx):
        x[i] = int(input(f'x[{i}]값을 입력하세요.: '))
        
    reverse_array(x)
    
    print('배열 원소를 역순으로 정렬했습니다.')
    for i in range(nx):
        print(f'x[{i}] = {x[i]}')

배열 원소를 역순으로 정렬합니다.
원소 수를 입력하세요.: 5
x[0]값을 입력하세요.: 3
x[1]값을 입력하세요.: 6
x[2]값을 입력하세요.: 8
x[3]값을 입력하세요.: 2
x[4]값을 입력하세요.: 6
배열 원소를 역순으로 정렬했습니다.
x[0] = 6
x[1] = 2
x[2] = 8
x[3] = 6
x[4] = 3

In [94]:
def card_conv(x: int, r: int) -> str:
    d = ''
    dchar = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    
    n = len(str(x))
    
    while x > 0:
        print('   +' + (n + 2) * '-')
        if x // r:
            print(f'{r:2} | {x // r:{n}d} ... {x % r}')
        else:
            print(f'      | {x // r:{n}d} ... {x % r}')      
        d += dchar[x % r]
        x //= r
        
    return d[::-1]{r:2}

In [95]:
if __name__ == '__main__':
    print('10진수를 n진수로 변환합니다.')
    
    while True:
        while True:
            no = int(input('변환할 값으로 음이 아닌 정수를 입력하세요.: '))
            if no > 0:
                break
                
        while True:
            cd = int(input('어떤 진수로 변환할까요?: '))
            if 2 <= cd <= 36:
                break
                
        print(f'{cd}진수로는 {card_conv(no, cd)}입니다.')
        
        retry = input("한 번 더 변환할까요?(Y ... 예 / N ... 아니요): ")
        if retry in {'N', 'n'}:
            break{r:2}

10진수를 n진수로 변환합니다.
변환할 값으로 음이 아닌 정수를 입력하세요.: 100
어떤 진수로 변환할까요?: 2
   +-----
 2 |  50 ... 0
   +-----
 2 |  25 ... 0
   +-----
 2 |  12 ... 1
   +-----
 2 |   6 ... 0
   +-----
 2 |   3 ... 0
   +-----
 2 |   1 ... 1
   +-----
      |   0 ... 1
2진수로는 1100100입니다.
한 번 더 변환할까요?(Y ... 예 / N ... 아니요): n